/* paleta de colores
verde oscuro #1a472a
verde contraste oscuro #addfad
verde intermedio #2a623d
gris oscuro #5d5d5d
gris claro #aaaaaa
negro #16161d
blanco #fdfff5
*/
/*sticky header*/
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
    
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .cuerpo {
    padding-top: 5em;
  }
  .responsive{
    max-width: 100%;
    height: auto;
  }
/*general*/
html {   
    min-width: 320px;   
    max-width: 1400px; 
    background-color: 	#aaaaaa;
    color: #16161d;
    }
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/*encabezado*/
#mi-encabezado{
    background-color: #1a472a;
    color: #addfad;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 3.5%;
}
.caja{
    width: 95%;
    position: relative;
    margin: 0;
}
nav{
    position: relative;
    top: 0;
    right: 0;
    text-align: right;
}
nav li{
    display: inline;
    margin: 0 0 0.6em 0.6em;
}
nav a {
    text-transform: uppercase;
    color: #addfad;
    font-weight: bold;
    font-size:0.75em;
    text-decoration: none;
    margin: 0.5em 0;
    padding: 0.5em 0;
}

/*main*/
main{
    width: 95%;
    padding: 0 0 0 2.5em; /*revisar el responsive porque no anda*/
}
.cuerpo section p {
    color: #1a472a;
    text-transform: capitalize;
    padding: 2em 0 0 0 ;

}
/*footer*/
footer{
    background-color: #1a472a;
    color: #addfad;
    font-weight: bold;
    padding: 1em;
}
footer, p{
    font-size: 1.2em;
    text-align: center;
}
.iconos-enlace{
    width: 1.5em;
    min-width: 0.5em;
    border: none;
    padding: 0 1.25em;
}